---
import Layout from "../layouts/default.astro";
import IndexList from "../components/PostList/PostGroups.astro";
const modules = import.meta.glob("./*.md", { eager: true });
const posts = Object.values(modules);
---

<Layout>
  <div class="feed">
    <div class="titleBox">
      <h1 class="title">404</h1>
      <p class="about">
        Oops! Looks like the page you wanted has wandered off. :(
      </p>

      <a class="backBtn" href="/">Take me back!</a>
    </div>
  </div>
</Layout>

<!-- ######################## CSS ######################## -->

<style>
  .feed {
    margin: auto;
    margin-top: 7em;
    margin-bottom: 6em;
    padding: 0em 1em;
    .titleBox {
      padding-bottom: 1em;
      .title {
        font-family: monospace;
        font-size: 20em;
        text-align: center;
        color: var(--color-primary);

        text-shadow: 0.03em 0.03em 0.1em black;
      }

      .about {
        color: var(--color-text-blockquote);
        text-align: center;
      }
    }

    .backBtn {
      display: block;
      width: fit-content;
      margin: auto;
      margin-top: 1em;

      color: var(--color-accent);

      cursor: pointer;
    }
    .backBtn:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 1300px) {
    .feed .titleBox .title {
      font-size: 10em;
    }
  }
</style>
