---
import Layout from "../layouts/default.astro";
import Title from "../components/Title/Title.astro";
import meImg from "../assets/me.jpg";
---

<Layout>
  <Title title="About me" />
  <div class="meBox">
    <img class="img" src={meImg.src} alt="Portrait of me" />
    <p>
      <span class="hi">My name is Gerhard.</span> I love making stuff. I have a degree
      in Informatics and love coding, but I do mostly other stuff. Right now I am
      trying to create a product for outdoor bouldering. My dream is to become an
      inventor, although I keep hearing that's not actually a job title. Other than
      that I like reading & waching movies, and if I am in the mood, maybe some writing.
      I also like climbing, snowboarding and long hikes. Thanks for checking out
      my site!
    </p>
  </div>

  <div>Some programs i like:</div>
  <a>Website Github</a>
  Contact me nixos
</Layout>

<style>
  .meBox {
    padding: 0 1em;
    min-height: 18em;
    img {
      float: left;
      shape-outside: circle();
      border-radius: 50%;
      width: 15em;
      height: auto;
      margin: 0 1em 1em 0;
      box-shadow: 0.03em 0.03em 0.5em var(--color-shadow);
    }

    p {
      .hi {
        font-size: 1.5em;
        font-weight: bold;
        font-family: "Times New Roman";
        color: var(--color-accent);
      }
    }
  }
</style>
