---
const path = Astro.url.pathname;
---

<div>
  <nav id="navbar" class="navbar">
    <div class="heightbox">
      <ul>
        <li><a href="/" class={path === "/" ? "active" : ""}>home</a></li>

        <li>
          by me
          <ul>
            <li>
              <a
                href="/projects"
                class={path.startsWith("/writings") ? "active" : ""}>projects</a
              >
            </li>
            <li>
              <a
                href="/writings"
                class={path.startsWith("/writings") ? "active" : ""}
              >
                writings
              </a>
            </li>
            <li>
              <a
                href="/scrapbook"
                class={path.startsWith("/writings") ? "active" : ""}>photos</a
              >
            </li>
          </ul>
        </li>

        <li>
          for you
          <ul>
            <li>
              <a
                href="/garden"
                class={path.startsWith("/writings") ? "active" : ""}>garden</a
              >
            </li>
            <li>
              <a
                href="/guestbook"
                class={path.startsWith("/writings") ? "active" : ""}
                >guestbook</a
              >
            </li>
            <li>
              <a
                href="/scrapbook"
                class={path.startsWith("/writings") ? "active" : ""}>about</a
              >
            </li>
          </ul>
        </li>

        <li>
          for everyone
          <ul>
            <li>
              <a
                href="/books"
                class={path.startsWith("/writings") ? "active" : ""}>books</a
              >
            </li>
            <li>
              <a
                href="/movies"
                class={path.startsWith("/writings") ? "active" : ""}>movies</a
              >
            </li>
            <li>
              <a
                href="/archive"
                class={path.startsWith("/writings") ? "active" : ""}>archive</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="/links" class={path.startsWith("/writings") ? "active" : ""}
            >my links</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <btn class="burger">
    <p>~</p>
    <p>~</p>
    <p>~</p>
  </btn>
</div>

<script is:inline>
  let expanded = false;

  const nav = document.getElementById("navbar");
  const burger = document.querySelector(".burger");
  burger.addEventListener("click", () => {
    if (expanded === true) {
      nav.classList.toggle("animate");
      setTimeout(() => {
        nav.classList.toggle("expanded");
      }, 200);
      expanded = false;
    } else {
      nav.classList.toggle("expanded");
      setTimeout(() => {
        nav.classList.toggle("animate");
      }, 0);
      expanded = true;
    }
    burger.classList.toggle("clicked");
  });
</script>
<!-- ######################## CSS ######################## -->

<style>
  .navbar {
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 6em;
    transition: opacity 0.2s ease;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      margin: 0.3em 0px;
      margin-bottom: 1em;

      li {
        margin-bottom: 0em;
        margin-left: 0.5em;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: padding-left 0.15s ease;
    }
    a:hover {
      padding-left: 0.5em;
    }

    .active {
      text-decoration: underline;
    }
  }

  .burger {
    font-size: 2.5em;
    width: 1em;
    height: 1em;
    position: fixed;
    cursor: pointer;
    color: var(--color-secondary);
    p {
      margin: -0.33em 0em -0.99em 0.07em;

      user-select: none;
    }
    display: none;
    z-index: 100;

    transition: color 0.3s ease;
  }
  .burger:hover {
    color: blueviolet;
  }

  @media (max-width: 1100px) {
    .navbar {
      visibility: hidden;
      opacity: 0;
    }

    .burger {
      display: block;
    }

    .expanded {
      visibility: visible;

      background-color: var(--color-bg);
      background-image: url("/images/texture.png");
      background-repeat: repeat;
      background-size: 400px;

      z-index: 100;
      width: 100%;
      padding-left: 0;
      .heightbox {
        margin: auto;
      }
    }

    .animate {
      opacity: 1;
    }

    .clicked {
      color: var(--color-primary);
    }

    .clicked:hover {
      color: var(--color-secondary);
    }
  }
</style>
