---
const path = Astro.url.pathname;
import DarkMode from "./DarkMode.astro";
import Link from "./link.astro";
---

<div>
  <nav id="navbar" class="navbar">
    <div class="heightbox">
      <ul class="widthbox">
        <li><a href="/" class={path === "/" ? "active" : ""}>home</a></li>

        <Link title="home" pages={[""]} />

        <Link title="by me" pages={["projects", "writings", "photos"]} />
        <Link title="for you" pages={["guestbook", "garden", "about"]} />
        <Link title="stuff I like" pages={["books", "movies", "shows"]} />

        <Link title="my links" pages={["links"]} />
      </ul>
      <DarkMode />
    </div>
  </nav>

  <btn class="burger">
    <p>~</p>
    <p>~</p>
    <p>~</p>
  </btn>
</div>

<script is:inline>
  let expanded = false;

  const nav = document.getElementById("navbar");
  const burger = document.querySelector(".burger");
  burger.addEventListener("click", () => {
    if (expanded === true) {
      nav.classList.toggle("animate");
      setTimeout(() => {
        nav.classList.toggle("expanded");
      }, 200);
      expanded = false;
    } else {
      nav.classList.toggle("expanded");
      setTimeout(() => {
        nav.classList.toggle("animate");
      }, 0);
      expanded = true;
    }
    burger.classList.toggle("clicked");
  });
</script>
<!-- ######################## CSS ######################## -->

<style>
  .navbar {
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 6em;
    transition: opacity 0.2s ease;
    z-index: 100;

    .widthbox {
      width: 6em;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      margin: 0.3em 0px;
      margin-bottom: 1em;

      li {
        margin-bottom: 0em;
        margin-left: 0.5em;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: padding-left 0.15s ease;
    }
    a:hover {
      text-decoration: underline;
    }

    .active {
      font-weight: bold;
    }
  }

  .burger {
    font-size: 2.5em;
    width: 1em;
    height: 1em;
    position: fixed;
    cursor: pointer;
    color: var(--color-text);
    p {
      margin: -0.33em 0em -1.06em 0.07em;

      user-select: none;
    }
    display: none;

    p {
      transition: transform 0.3s ease;
    }
    z-index: 100;
  }
  .burger:hover {
    color: var(--color-accent);
  }

  @media (max-width: calc(1100px)) {
    .navbar {
      visibility: hidden;
      opacity: 0;
    }

    .burger {
      display: block;
    }

    .expanded {
      visibility: visible;

      background-color: var(--color-bg);
      background-image: url(/wallpapers/textureLight.png);
      background-repeat: repeat;
      background-size: 400px;

      z-index: 100;
      width: 100%;
      padding-left: 0;
      .heightbox {
        margin: auto;
      }
    }

    .animate {
      opacity: 1;
    }

    .clicked {
      p:first-child {
        transform: translateY(0.13em) rotate(-45deg);
      }

      p:nth-child(2) {
        transform: translateX(-1em);
      }

      p:last-child {
        transform: translateY(-0.3em) rotate(45deg);
      }
    }
  }
</style>

<style is:inline>
  :root.dark {
    .expanded {
      background-image: none;
    }
  }
</style>
