---
const path = Astro.url.pathname;
---

<nav class="navbar">
  <div class="heightbox">
    <ul>
      <li><a href="/" class={path === "/" ? "active" : ""}>home</a></li>

      <li>
        by me
        <ul>
          <li>
            <a href="/projects" class={path === "/projects" ? "active" : ""}
              >projects</a
            >
          </li>
          <li>
            <a href="/writings" class={path === "/writings" ? "active" : ""}
              >writings</a
            >
          </li>
          <li>
            <a href="/scrapbook" class={path === "/scrapbook" ? "active" : ""}
              >photos</a
            >
          </li>
        </ul>
      </li>

      <li>
        for you
        <ul>
          <li>
            <a href="/garden" class={path === "/garden" ? "active" : ""}
              >garden</a
            >
          </li>
          <li>
            <a href="/guestbook" class={path === "/guestbook" ? "active" : ""}
              >guestbook</a
            >
          </li>
          <li>
            <a href="/scrapbook" class={path === "/scrapbook" ? "active" : ""}
              >about</a
            >
          </li>
        </ul>
      </li>

      <li>
        by others
        <ul>
          <li>
            <a href="/books" class={path === "/books" ? "active" : ""}>books</a>
          </li>
          <li>
            <a href="/movies" class={path === "/movies" ? "active" : ""}
              >movies</a
            >
          </li>
          <li>
            <a href="/archive" class={path === "/archive" ? "active" : ""}
              >archive</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a href="/links" class={path === "/links" ? "active" : ""}>my links</a>
      </li>
    </ul>
  </div>
</nav>

<!-- ######################## CSS ######################## -->

<style>
  .navbar {
    font-family: sans-serif;
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 7em;
    z-index: 100;
    background-color: #faf9f6;

    width: 7em;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      margin: 0.3em 0px;
      margin-bottom: 1em;

      li {
        margin-bottom: 0em;
        margin-left: 0.5em;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: padding-left 0.15s ease;
    }
    a:hover {
      padding-left: 0.5em;
    }

    .active {
      text-decoration: underline;
    }
  }
</style>
