---
import Layout from "./main.astro";
const { frontmatter } = Astro.props;
---

<Layout>
  <div class="size">
    <h1>{frontmatter.title}</h1>
    <hr />
    <div class="article">
      <slot />
    </div>
    <div class="">
      <p class="">Written by Gerhard</p>
      <div class="">
        <div class="">
          <p class="">
            {new Date(frontmatter.date).toLocaleDateString("en-UK")}
          </p>
        </div>
        <img class="" width="45px" src="/favicon.svg" />
      </div>
    </div>
  </div>
</Layout>

<!-- ######################## CSS ######################## -->

<style>
  .size {
    max-width: 40em;
    margin: auto;
  }

  .article {
    line-height: 1.7;

    :global(a) {
      color: var(--color-text-link);

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: var(--color-text-link-after);
      }
    }

    :global(p) {
      margin-bottom: 1em;

      :global(img) {
        display: block;
        margin: auto;
        max-width: calc(100% - 2em);
        max-height: 30em;

        border-radius: 0.2em;
        box-shadow: 0 0 8px var(--color-text);
      }
    }
    :global(p:has(> img:only-child)) {
      padding: 2em 1em 2em 1em;
    }

    :global(h1, h2, h3) {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    :global(ul) {
      list-style: none;
      padding-left: 1.5em;
    }
    :global(ul li) {
      margin-bottom: 0.5em;
    }
    :global(ul li)::before {
      content: "-";
      margin-left: -0.9em;
      margin-right: 0.5em;
      font-weight: 600;
    }

    :global(ol) {
      padding-left: 1.5em;
      list-style: numbers;
    }
    :global(ol li) {
      margin-bottom: 0.5em;
    }

    :global(pre) {
      margin: 1em;
      border-radius: 0.2em;
      padding: 0.4em;
    }

    :global(blockquote) {
      padding-left: 1em;
      padding-right: 1em;
      color: var(--color-text-blockquote);

      border-left: 0.3em solid var(--color-text-blockquote);
    }

    :global(table) {
      border-collapse: collapse;
      margin: 1.5em;
      width: calc(100% - 3em);
      font-size: 0.9em;
    }
    :global(table th),
    :global(table td) {
      padding: 0.5em 0.8em;
      border-bottom: 1px solid var(--color-backdrop);
      text-align: left;
    }
    :global(table th) {
      font-weight: 600;
    }
    :global(table tr:last-child td) {
      border-bottom: none;
    }
  }
</style>
