* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: inherit;
    color: inherit;
    background: none;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    all: unset;
}

/* Collor palette */

:root {
    /* BASE */
    --color-bg: #ffffff;
    --color-fg: #222222;

    --color-bg-dark: #535353;
    --color-backdrop: #00000018;

    --color-text: var(--color-fg);
    --color-text-blockquote: #353535;
    --color-text-link: #8a2be2;

    --color-accent: #8a2be2;
}

:root.dark {
    /* BASE */
    --color-bg: #130010;
    --color-fg: #f3f3f3;

    --color-bg-dark: #c7c7c7;
    --color-backdrop: #ffffff18;

    --color-text: var(--color-fg);
    --color-text-blockquote: #353535;
    --color-text-link: #8a2be2;

    --color-accent: #8a2be2;
}