---
import Navbar from "../components/Navbar/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="patternDark">
    <main>
      <Navbar />
      <div class="feed">
        <slot />
      </div>
    </main>
  </body>
</html>

<!-- ######################## CSS ######################## -->

<style>
  html,
  body {
    font-family: sans-serif, "Fira Sans", sans;
    margin: 0px;
    padding: 0px;
    background-color: #faf9f6;
    font-size: 20px;
    color: rgb(34, 34, 34);
  }

  .feed {
    padding-top: 4em;
    padding-bottom: 4em;
    margin: auto;

    position: relative;
    height: 100%;
    width: 900px;
  }

  @media (max-width: 1300px) {
    .feed {
      margin-left: 200px;
    }
  }

  @media (max-width: 1100px) {
    .feed {
      margin: 0 2em;
    }
  }
</style>
