---
import "./global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
  </head>
  <body>
    <slot />
  </body>
</html>

<!-- ######################## CSS ######################## -->

<style>
  html,
  body {
    font-family: "Fira Sans", sans-serif, sans;
    line-height: 1.3;
    font-size: 18px;

    margin: 0px;
    padding: 0px;
    background-color: var(--color-bg);
    color: var(--color-text);

    background-image: url("/images/texture.png");
    background-repeat: repeat;
    background-size: 400px;
  }
</style>
